h1 {
  text-align: center;
  color: burlywood;
  font-size: x-large;
}

p {
  text-align: center;
  color: burlywood;
  font-size: small;
}

h4 {
  text-align: center;
}

h5 {
  color: burlywood;
}

h6 {
  text-align: center;
}

/* Estilo do Formulário de Perguntas */
.form-control {
  background-color: #3c3939;
  color: burlywood;
  border: 0.3px solid #bdcbc8;
}

.form-control::placeholder {
  color: rgba(226, 206, 92, 0.7);
}

#chat-container {
  margin: 20px auto;
  max-width: 1300px;
  padding: 45px;
  border-radius: 25px;
  background-color: #232323;
  color: burlywood;
  overflow: hidden;
  width: 100%;
}

/* Footer */
footer {
  background-color: #1c1c1c;
  padding: 35px 0;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  color: burlywood;
}

/* Body */
body {
  padding-bottom: 60px;
  background-color: #121212;
}

.list-group-item {
  background-color: #3c3939;
  border: none;
}

.list-group-item a {
  color: burlywood;
}

.list-group-item a:hover {
  text-decoration: underline;
}

.button {
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.button i {
  margin-right: 5px;
}

.button.success {
  background-color: #0c1330;
  color: burlywood;
  border: 0.3px solid #fdfed7;
}

.button.success:hover {
  background-color: #73cab8;
  transform: translateY(-2px);
}

.button.danger {
  background-color: #dc3545;
  color: white;
}

.button.danger:hover {
  background-color: #c82333;
  transform: translateY(-2px);
}

.button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.response-card {
  border: 2px solid #ffd9a8;
  border-radius: 10px;
  padding: 20px;
  background-color: #1c1c1c;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}

.image-wrapper {
  width: 50%;
  margin: 25px 0;
  text-align: center;
}

.image-wrapper img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .card {
    margin: 10px;
  }

  .card img {
    max-height: 200px;
  }
}

.image-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Ajuste do espaçamento */
  margin-top: 20px;
}

.image-gallery a {
  display: block;
}

.image-gallery img {
  max-width: 300px; /* Ajuste do tamanho das imagens */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-gallery img:hover {
  transform: scale(1.05);
}

.rate-control-container {
  display: flex; /* Ativa o flexbox */
  flex-direction: column; /* Coloca os elementos em coluna */
  align-items: center; /* Alinha horizontalmente ao centro */
}

/* Estilo do slider */
input[type='range'] {
  -webkit-appearance: none; /* Remove o estilo padrão */
  appearance: none;
  width: 300px; /* Largura do slider */
  height: 8px; /* Altura da trilha */
  background: #1e324b; /* Cor da trilha */
  border-radius: 5px; /* Bordas arredondadas */
  outline: none; /* Remove a borda padrão */
}

/* Estilo do thumb (botão arrastável) */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px; /* Largura do botão */
  height: 20px; /* Altura do botão */
  background-color: burlywood; /* Cor do botão */
  border-radius: 50%; /* Botão arredondado */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra do botão */
  transition: transform 0.2s; /* Efeito de transição */
}

input[type='range']::-webkit-slider-thumb:hover {
  transform: scale(1.8); /* Aumenta o botão ao passar o mouse */
}

input[type='range']::-moz-range-thumb {
  width: 20px; /* Largura do botão no Firefox */
  height: 20px; /* Altura do botão no Firefox */
  background-color: burlywood; /* Cor do botão no Firefox */
  border-radius: 50%; /* Botão arredondado no Firefox */
  border: none; /* Remove a borda no Firefox */
  transition: transform 0.2s; /* Efeito de transição */
}

input[type='range']::-moz-range-thumb:hover {
  transform: scale(1.2); /* Aumenta o botão ao passar o mouse no Firefox */
}
