{% extends "base.html" %}

{% load static %}
{% block title %}Chat - SPART{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<div class="card" id="chat-container">
    <h1>SPART <img src='/static/capacete.png' style="height: 37px; width: 40px;" /></h1>
    <h6>Seu Assistente Inteligente!!!</h6>
    <h4>Como posso lhe ajudar hoje?</h4>
    <br><br>

    <input type="text" id="question" class="form-control" placeholder="Escreva aqui a sua dúvida!">
    <div class="button-container mt-4">
        <button class="button success" onclick="sendQuestion()">
            <i class="fas fa-paper-plane"></i> Enviar
        </button>
        <button class="button danger" id="stopBtn" onclick="stopTyping()" disabled>
            <i class="fas fa-stop"></i> Parar
        </button>


        <button class="button success" onclick="readResponse()">
            <i class="fas fa-volume-up"></i> Ouvir Resposta
        </button>
    </div>
    <br>
    <div class="container rate-control-container">
        <label for="rateControl">Velocidade da Leitura:</label>
        <input type="range" id="rateControl" min="0.5" max="3" step="0.1" value="1"
            oninput="this.nextElementSibling.value = this.value" />
        <output>1</output> <!-- Exibe o valor atual do slider -->
    </div>
    <br>
    <div class="container">
        <div class="response-card">
            <div id="response" class="mt-3"></div>
            <img src='/static/capacete.png' style="height: 20px; width: 22px;" />
            <span id="response-text"></span>
            {{ manual.conteudo|safe }}
            <div class="container-fluid">
                {% if manual.imagem %}
                <div class="image-wrapper">
                    <img src="{{ manual.imagem.url }}" alt="Imagem do Manual">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    <footer>
        <div id="footer-content">
            <h5>Sugestões de Perguntas:</h5>
            <ul class="list-group">
                {% for sugestao in sugerir_perguntas %}
                <li class="list-group-item">
                    <a href="#" onclick="document.getElementById('pergunta').value='{{ sugestao }}'; enviarPergunta();">
                        {{ sugestao }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </footer>
    {% endblock %}
